---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/continents/geonames:NA/urban_areas/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/"},"ua:items":[{"href":"https://api.teleport.org/api/urban_areas/slug:albuquerque/","name":"Albuquerque"},{"href":"https://api.teleport.org/api/urban_areas/slug:anchorage/","name":"Anchorage"},{"href":"https://api.teleport.org/api/urban_areas/slug:asheville/","name":"Asheville"},{"href":"https://api.teleport.org/api/urban_areas/slug:atlanta/","name":"Atlanta"},{"href":"https://api.teleport.org/api/urban_areas/slug:austin/","name":"Austin"},{"href[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:albuquerque/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:albuquerque/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:albuquerque/salaries/"}},"salaries":[{"job":{"id":"ACCOUNT-MANAGER","title":"Account
        Manager"},"salary_percentiles":{"percentile_25":36635.7952984741,"percentile_50":45868.46937123265,"percentile_75":57427.89163764481}},{"job":{"id":"ACCOUNTANT","title":"Accountant"},"salary_percentiles":{"percentile_25":34741.844696627646,"percentile_50":41259.8258730967,"percentile_75":49000.65744763136}},{"job":{"id":"ADMINISTRATIVE-ASSISTANT","title":"Administrative
        Assistant"},"salary_percentiles":{"percentile_25":21111.963190859267,"percentile_50":25425.103681938715,"percentile_75":30619.41191320462}},{"job":{"id":"ARCHITECT","title":"Architect"},"salary_percentiles":{"percentile_25":39519.0575[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:anchorage/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"lo[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:anchorage/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/",[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:asheville/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"lo[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:asheville/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/",[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:atlanta/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loca[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:atlanta/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","n[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:austin/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"locat[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:austin/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","na[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:baltimore/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"lo[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:baltimore/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/",[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:belize-city/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:belize-city/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:birmingham/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"l[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:birmingham/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/"[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:boise/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"locati[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:boise/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","nam[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:boston/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"locat[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:boston/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","na[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:boulder/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loca[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:boulder/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","n[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:bozeman/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loca[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:bozeman/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","n[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:buffalo/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loca[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:buffalo/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","n[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:calgary/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loca[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:calgary/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","n[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:charleston/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"l[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:charleston/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/"[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:charlotte/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"lo[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:charlotte/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/",[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:chattanooga/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:chattanooga/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:chicago/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loca[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:chicago/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","n[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:cincinnati/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"l[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:cincinnati/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/"[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:cleveland/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"lo[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:cleveland/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/",[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:colorado-springs/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","na[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:colorado-springs/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:columbus/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loc[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:columbus/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:dallas/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"locat[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:dallas/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","na[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:denver/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"locat[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:denver/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","na[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:des-moines/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"l[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:des-moines/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/"[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:detroit/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loca[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:detroit/salaries/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","n[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:edmonton/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"loc[...]
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:edmonton/salaries/
    body:
[...]
