---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/continents/geonames:NA/urban_areas/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/"},"ua:items":[{"href":"https://api.teleport.org/api/urban_areas/slug:albuquerque/","name":"Albuquerque"},{"href":"https://api.teleport.org/api/urban_areas/slug:anchorage/","name":"Anchorage"},{"href":"https://api.teleport.org/api/urban_areas/slug:asheville/","name":"Asheville"},{"href":"https://api.teleport.org/api/urban_areas/slug:atlanta/","name":"Atlanta"},{"href":"https://api.teleport.org/api/urban_areas/slug:austin/","name":"Austin"},{"href[...]
- request:
    method: get
    uri: https://job-microservice.herokuapp.com/jobs?location=albuquerque&title=Data%20Analyst
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>500 Internal Server Error</title>
        <h1>Internal Server Error</h1>
        <p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>
  recorded_at: Tue, 18 May 2021 20:27:28 GMT
recorded_with: VCR 6.0.0
